<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sho.rt: Your own URL shortner..</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{STATIC_URL}}/fbboot/bootstrap.css" rel="stylesheet">

    
    <script src="{{STATIC_URL}}/fbboot/js/jquery-1.7.min.js"></script>
    <script src="{{STATIC_URL}}/fbboot/js/bootstrap-alerts.js"></script>


    <style type="text/css">
      body {
        padding: 100px 100px 100px 100px;
	font-family:'lucida grande',tahoma,Ubuntu,Arial,Times New Roman;
      }
 
      .hero-unit p{ 	font-size:11px; 
			font-weight:100;
			line-height:15px;
			}
      .container { width:600px;
		   height:500px; }

    </style>
    
  
  </head>

  <body>
    
    <div class="container">
    
      <div class="hero-unit">
      <h3>{{key}}<h3>
      
    </div>

      <footer>
        <p>&copy; sho.rt 2012</p>
      </footer>

    </div> <!-- /container -->
   
  </body>
</html>
